name: Go Test

defaults:
  run:
    working-directory: ./server

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: go-tests
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache-dependency-path: server/go.sum

      - name: Install Go tools
        run: go install gotest.tools/gotestsum@v1.12.1

      - name: Verify dependencies
        run: go mod verify

      - name: Download dependencies
        run: go mod download

      - name: Build
        run: go build -v ./...

      - name: Test
        run: gotestsum --format standard-verbose -- -race -buildvcs ./...
